# Importing the required libraries

In [1]:
import requests
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup

In [2]:
#i=requests.get('https://sofifa.com/?showCol%5B%5D=pi&showCol%5B%5D=ae&showCol%5B%5D=hi&showCol%5B%5D=wi&showCol%5B%5D=pf&showCol%5B%5D=oa&showCol%5B%5D=pt&showCol%5B%5D=bo&showCol%5B%5D=bp&showCol%5B%5D=gu&showCol%5B%5D=jt&showCol%5B%5D=le&showCol%5B%5D=vl&showCol%5B%5D=wg&showCol%5B%5D=rc&showCol%5B%5D=ta&showCol%5B%5D=cr&showCol%5B%5D=fi&showCol%5B%5D=he&showCol%5B%5D=sh&showCol%5B%5D=vo&showCol%5B%5D=ts&showCol%5B%5D=dr&showCol%5B%5D=cu&showCol%5B%5D=fr&showCol%5B%5D=lo&showCol%5B%5D=bl&showCol%5B%5D=to&showCol%5B%5D=ac&showCol%5B%5D=sp&showCol%5B%5D=ag&showCol%5B%5D=re&showCol%5B%5D=ba&showCol%5B%5D=tp&showCol%5B%5D=so&showCol%5B%5D=ju&showCol%5B%5D=st&showCol%5B%5D=sr&showCol%5B%5D=ln&showCol%5B%5D=te&showCol%5B%5D=ar&showCol%5B%5D=in&showCol%5B%5D=po&showCol%5B%5D=vi&showCol%5B%5D=pe&showCol%5B%5D=cm&showCol%5B%5D=td&showCol%5B%5D=ma&showCol%5B%5D=sa&showCol%5B%5D=sl&showCol%5B%5D=tg&showCol%5B%5D=gd&showCol%5B%5D=gh&showCol%5B%5D=gc&showCol%5B%5D=gp&showCol%5B%5D=gr&showCol%5B%5D=tt&showCol%5B%5D=bs&showCol%5B%5D=wk&showCol%5B%5D=sk&showCol%5B%5D=aw&showCol%5B%5D=dw&showCol%5B%5D=ir&showCol%5B%5D=bt&showCol%5B%5D=pac&showCol%5B%5D=sho&showCol%5B%5D=pas&showCol%5B%5D=dri&showCol%5B%5D=def&showCol%5B%5D=phy&offset='+str(i)+'')
#soup=BeautifulSoup(i.text,'html.parser')

#Website has multiple pages, each page number is of step 60

In [3]:
pages=np.arange(1,19980,60)

In [4]:
ID=[]
national=[]
for i in pages:
    i=requests.get('https://sofifa.com/?showCol%5B%5D=pi&showCol%5B%5D=ae&showCol%5B%5D=hi&showCol%5B%5D=wi&showCol%5B%5D=pf&showCol%5B%5D=oa&showCol%5B%5D=pt&showCol%5B%5D=bo&showCol%5B%5D=bp&showCol%5B%5D=gu&showCol%5B%5D=jt&showCol%5B%5D=le&showCol%5B%5D=vl&showCol%5B%5D=wg&showCol%5B%5D=rc&showCol%5B%5D=ta&showCol%5B%5D=cr&showCol%5B%5D=fi&showCol%5B%5D=he&showCol%5B%5D=sh&showCol%5B%5D=vo&showCol%5B%5D=ts&showCol%5B%5D=dr&showCol%5B%5D=cu&showCol%5B%5D=fr&showCol%5B%5D=lo&showCol%5B%5D=bl&showCol%5B%5D=to&showCol%5B%5D=ac&showCol%5B%5D=sp&showCol%5B%5D=ag&showCol%5B%5D=re&showCol%5B%5D=ba&showCol%5B%5D=tp&showCol%5B%5D=so&showCol%5B%5D=ju&showCol%5B%5D=st&showCol%5B%5D=sr&showCol%5B%5D=ln&showCol%5B%5D=te&showCol%5B%5D=ar&showCol%5B%5D=in&showCol%5B%5D=po&showCol%5B%5D=vi&showCol%5B%5D=pe&showCol%5B%5D=cm&showCol%5B%5D=td&showCol%5B%5D=ma&showCol%5B%5D=sa&showCol%5B%5D=sl&showCol%5B%5D=tg&showCol%5B%5D=gd&showCol%5B%5D=gh&showCol%5B%5D=gc&showCol%5B%5D=gp&showCol%5B%5D=gr&showCol%5B%5D=tt&showCol%5B%5D=bs&showCol%5B%5D=wk&showCol%5B%5D=sk&showCol%5B%5D=aw&showCol%5B%5D=dw&showCol%5B%5D=ir&showCol%5B%5D=bt&showCol%5B%5D=pac&showCol%5B%5D=sho&showCol%5B%5D=pas&showCol%5B%5D=dri&showCol%5B%5D=def&showCol%5B%5D=phy&offset='+str(i)+'')
    soup=BeautifulSoup(i.text,'html.parser')
    for p in soup.find_all('td',class_='col col-pi'):
        ID.append(p.text.strip())
    
    
    for k in soup.find_all('img',title=True):
        national.append(k['title'])

In [7]:
d={'id':ID,'national':national}

In [12]:
df = pd.DataFrame.from_dict(d, orient='index')
df=df.transpose()

In [28]:
df1=df.rename(columns={'id':'ID'})

In [26]:
df['national'].unique()

array(['United States', 'Germany', 'Brazil', 'France', 'Spain', 'Italy',
       'Netherlands', 'Japan', 'Poland', 'Turkey', 'China PR', 'Sweden',
       'Russia', 'Portugal', 'Korea Republic', 'Denmark', 'Norway',
       'Hungary', 'Finland', 'Hong Kong', 'Ukraine', 'Czech Republic',
       'Saudi Arabia', 'Georgia', 'Australia', 'England', 'Croatia',
       'Nigeria', 'Uruguay', 'Ecuador', 'Mexico', 'Serbia', 'Belgium',
       'Ghana', 'Argentina', 'Slovenia', 'Algeria', 'Republic of Ireland',
       'Cameroon', 'Senegal', 'Suriname', 'Canada', 'Colombia',
       'Scotland', 'Wales', 'Egypt', 'Albania', 'Romania', 'Qatar',
       'Gambia', 'Austria', "Côte d'Ivoire", 'Bosnia and Herzegovina',
       'Switzerland', 'North Macedonia', 'Israel', 'Morocco',
       'Burkina Faso', 'Mali', 'Tunisia', 'Chile', 'Iran', 'Greece',
       'New Zealand', 'Slovakia', 'Zambia', 'Congo DR', 'Iceland',
       'Guinea', 'Central African Republic', 'Venezuela', 'Paraguay',
       'Gabon', 'Dominican Republic', 'Luxembourg', 'Sierra Leone',
       'Iraq', 'Kosovo', 'Costa Rica', 'Jamaica', 'Peru', 'Azerbaijan',
       'Uzbekistan', 'Philippines', 'Armenia', 'Northern Ireland',
       'Palestine', 'Liberia', 'Burundi', 'Grenada', 'Cape Verde Islands',
       'Montenegro', 'Uganda', 'Cyprus', 'Zimbabwe', 'Tanzania',
       'Estonia', 'Honduras', 'Vietnam', 'Angola', 'South Africa',
       'Malta', 'Bolivia', 'Lithuania', 'Guyana', 'India',
       'Guinea Bissau', 'Belarus', 'Libya', 'Kenya', 'Madagascar',
       'Afghanistan', 'Lebanon', 'Congo', 'Mozambique', 'Mauritania',
       'Curacao', 'Equatorial Guinea', 'Namibia', 'Kazakhstan',
       'Saint Kitts and Nevis', 'Liechtenstein', 'Benin', 'Faroe Islands',
       'Singapore', 'Comoros', 'Bulgaria', 'Cuba', 'Gibraltar',
       'United Arab Emirates', 'Latvia', 'Haiti', 'Moldova',
       'Chinese Taipei', 'Panama', 'Thailand', 'Papua New Guinea',
       'Trinidad and Tobago', 'Togo', 'Antigua and Barbuda', 'Korea DPR',
       'Syria', 'South Sudan', 'Sudan', 'Andorra', 'Puerto Rico', 'Nepal',
       'Guatemala', 'Indonesia', 'Bhutan', 'El Salvador', 'Malawi',
       'Malaysia', 'Niger', 'Jordan', 'Ethiopia', 'San Marino', 'Rwanda',
       'Bermuda', 'Macau', 'Bahrain'], dtype=object)

In [32]:
df1

           ID       national
0      256790  United States
1      247635  United States
2      250723        Germany
3      268460         Brazil
4      246340         France
...       ...            ...
27967    None      Argentina
27968    None      Argentina
27969    None          Japan
27970    None    Netherlands
27971    None          Japan

[27972 rows x 2 columns]

In [33]:
df1.to_csv('newdata_3.csv',index=False)