# Importing libraries

In [135]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as st
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PowerTransformer
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
import tensorflow_addons as tfa
from autokeras import StructuredDataRegressor
from sklearn.model_selection import cross_val_score
from sklearn.metrics import r2_score
pd.pandas.set_option('display.max_columns',None)
from xgboost import XGBRegressor
pd.options.display.max_rows=100
import warnings
warnings.filterwarnings("ignore")
from tqdm import tqdm
import copy

In [136]:
df=pd.read_csv('fifa_model.csv')

In [142]:
df.shape

(7164, 5)

In [143]:
df.sample(10)

      Best_overall  Overall_rating  Potential  Age      Value
625             64              63         68   24   675000.0
3025            56              55         65   20   275000.0
4736            64              62         78   16   925000.0
4983            57              56         74   19   375000.0
2659            56              56         66   20   275000.0
33              73              73         85   19  7000000.0
87              69              64         86   18  1900000.0
1470            70              69         75   23  2100000.0
6151            58              55         66   22   275000.0
4854            57              57         75   17   350000.0

In [138]:
df.describe()

       Best_overall  Overall_rating    Potential          Age         Value
count   7164.000000     7164.000000  7164.000000  7164.000000  7.164000e+03
mean      62.950307       61.595617    70.509771    21.968174  3.388325e+06
std        8.678896        8.743075     7.895170     4.066231  1.047716e+07
min       45.000000       44.000000    47.000000    15.000000  1.000000e+04
25%       56.000000       55.000000    65.000000    19.000000  2.200000e+05
50%       62.000000       60.000000    70.000000    21.000000  5.250000e+05
75%       68.000000       67.000000    76.000000    24.000000  1.600000e+06
max       92.000000       91.000000    95.000000    42.000000  1.905000e+08

In [59]:
df.duplicated().sum()

0

In [144]:
df.nlargest(10, ['Overall_rating'])

     Best_overall  Overall_rating  Potential  Age        Value
82             92              91         95   23  190500000.0
92             92              91         91   35   54000000.0
140            91              91         91   31  107500000.0
448            91              91         91   33   84000000.0
528            91              91         91   34   64000000.0
34             90              90         90   37   41000000.0
233            90              90         90   30  115500000.0
695            90              90         90   36   13500000.0
89             89              89         89   29  101000000.0
107            89              89         89   28  105500000.0

In [66]:
#df.drop('Best_overall',axis=1,inplace=True)

In [145]:
df.columns

Index(['Best_overall', 'Overall_rating', 'Potential', 'Age', 'Value'], dtype='object')

In [146]:
x = df[['Overall_rating', 'Potential', 'Age','Best_overall']]
y = df['Value']

In [147]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [148]:
#DecisionTreeRegressor

In [149]:
d = DecisionTreeRegressor(random_state=42).fit(x_train,y_train)
p = d.predict(x_test)
p1 = d.predict(x_train)
print(r2_score(p,y_test))

print(r2_score(p1,y_train))

0.9650196632399883
0.9999999369866371

In [150]:
#RandomForestRegressor

In [151]:
r = RandomForestRegressor(n_estimators=100,random_state=42).fit(x_train,y_train)
pr = r.predict(x_test)
pr1 = r.predict(x_train)
print(r2_score(pr,y_test))
print(r2_score(pr1,y_train))

0.9782815900533279
0.996142719193627

In [152]:
df.head()

   Best_overall  Overall_rating  Potential  Age       Value
0            83              81         90   19  55500000.0
1            79              77         86   21  23500000.0
2            76              74         84   21   9500000.0
3            75              74         84   21   9500000.0
4            74              73         88   18   7000000.0

In [153]:
r.predict([[79,77,86,21]])

array([1072300.])

In [13]:
#XGBRegressor

In [154]:
x = XGBRegressor().fit(x_train,y_train)
px = x.predict(x_test)
px1 = x.predict(x_train)
print(r2_score(px,y_test))
print(r2_score(px1,y_train))

0.9611540345541073
0.9996764097027615

In [21]:
#import pickle

In [22]:
#pickle.dump(r,open('model_Random.pkl', 'wb'))